.md-typeset h1 {
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #2c3e50;
}
.md-header__topic {
  font-size: 1.2rem;
  font-weight: 700;
}
.md-tabs__link {
  font-size: 0.9rem;
  font-weight: 500;
}
.md-header__button.md-logo img {
  height: 32px; 
  width: auto; 
}